In [4]:
import pandas as pd

# import dataset
dataset = pd.read_csv("golf_df.csv")

# tampilkan 5 baris pertama dataset
print(dataset.head())

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [8]:
# cek jumlah missing values pada kolom
print(dataset['Windy'].isna().sum())

# mengganti missing values pada kolom dengan nilai baru
dataset['Windy'].fillna('N', inplace=True)

# cek kembali jumlah missing values pada kolom
print(dataset['Windy'].isna().sum())

0
0

In [9]:
# cek jumlah missing values pada kolom
print(dataset['Play'].isna().sum())

# mengganti missing values pada kolom dengan nilai baru
dataset['Play'].fillna('N', inplace=True)

# cek kembali jumlah missing values pada kolom
print(dataset['Play'].isna().sum())

0
0

In [10]:
# mengubah nilai yang tidak konsisten pada atribut
dataset['Play'].replace(['99'], ['N'], inplace=True)

# tampilkan hasil perubahan
print(dataset['Play'].value_counts())

yes    9
no     5
Name: Play, dtype: int64